index.html
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0">
    <meta name="description" content="TOP">
    <meta name="keywords" content="TOP">
    <title>TOP PAGE</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body class="page-top">
    <div class="container">
      <header class="header">
        <div class="wrapper">
          <div class="header-inner">
            <h1 class="header-logo trans"><a href="./"><img src="./img/logo.png" alt="logo"></a></h1>
            <nav class="nav">
              <div class="nav-inner">
                <div class="list-menu clearfix">
                  <div class="item-menu"><a class="btn-nav trans" href="./"><span class="txt-nav">trang chủ</span></a></div>
                  <div class="item-menu"><a class="btn-nav trans anchor" href="#overview"><span class="txt-nav">tổng quan</span></a></div>
                  <div class="item-menu"><a class="btn-nav trans anchor" href="#location"><span class="txt-nav">vị trí dự án</span></a></div>
                  <div class="item-menu"><a class="btn-nav trans anchor" href="#special"><span class="txt-nav">tiện ích</span></a></div>
                  <div class="item-menu"><a class="btn-nav trans anchor" href="#model"><span class="txt-nav">mẫu căn hộ</span></a></div>
                  <div class="item-menu"><a class="btn-nav trans anchor" href="#contact"><span class="txt-nav">liên hệ</span></a></div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </header>
      <section class="section-top-banner">
        <div class="key-visua">
          <div class="slider-item"></div>
          <div class="slider-item"></div>
          <div class="slider-item"></div>
        </div>
        <div class="wrapper">
          <div class="registration-banner">
            <div class="title">
              <h2 class="title-common">ĐĂNG KÝ THÔNG TIN ĐỂ NHẬN</h2>
              <div class="sub-title">BẢNG BÁO GIÁ TỐT NHẤT</div>
            </div>
            <div class="registration">
              <form><span class="wpcf7-form-control-wrap company_name input-group">
                  <input class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" type="text" name="company_name" value="" aria-required="true" aria-invalid="false" placeholder="Họ và tên (*)"></span><span class="wpcf7-form-control-wrap input-group">
                  <input class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" type="email" name="your-email" value="" aria-required="true" aria-invalid="false" placeholder="Email (*)"></span><span class="wpcf7-form-control-wrap input-group">
                  <input class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" type="tel" name="tel-168" value="" aria-required="true" aria-invalid="false" placeholder="Số điện thoại (*)"></span><span class="wpcf7-form-control-wrap company_email input-group">
                  <input class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" type="text" name="company_note" value="" aria-required="true" aria-invalid="false" placeholder="Ghi chú thêm (*)"></span>
                <div class="btn-submit">
                  <input class="wpcf7-form-control wpcf7-submit wpcf7c-elm-step2 wpcf7c-force-hide" type="submit" value="tôi muốn nhận báo giá">
                </div>
              </form>
              <div class="note">(*) Chính sách bảo mật thông tin</div>
              <div class="line"><img alt="" src="./img/line02.png"/>
              </div>
            </div>
            <div class="intro">
              <ul class="list-intro">
                <li class="item">Sàn gỗ phòng ngủ và cửa chuẩn Châu Âu</li>
                <li class="item">Cuộc sống tiện nghi với hệ thống Smart Home - G-Smart tặng kèm</li>
                <li class="item">Tặng bộ nội thất bếp cao cấp từ Malloca</li>
                <li class="item">Tặng bộ thiết bị vệ sinh cao cấp thương hiệu Toto</li>
                <li class="item">Hệ thống điện an toàn từ thương hiệu Panasonic</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="section-overview" id="overview">
        <div class="wrapper section-content">
          <div class="desc-content small-block">
            <h2 class="title-img"><img alt="" src="./img/title_prj_overview.png"/>
            </h2>
            <div class="desc">
              <p>đây là text của overview anh coppy text bỏ dô đây dùm e vì e méo coppy dc text ở chổ này, hờn cả thế giới, cái list bên dưới e cũng để text tào lao a coppy dùm e nhé, đội ơn a !!!!</p>
              <ul class="list-intro">
                <li class="item">Sàn gỗ phòng ngủ và cửa chuẩn Châu Âu</li>
                <li class="item">Cuộc sống tiện nghi với hệ thống Smart Home - G-Smart tặng kèm</li>
                <li class="item">Tặng bộ nội thất bếp cao cấp từ Malloca</li>
                <li class="item">Tặng bộ thiết bị vệ sinh cao cấp thương hiệu Toto</li>
                <li class="item">Hệ thống điện an toàn từ thương hiệu Panasonic</li>
              </ul>
            </div>
          </div>
          <div class="video-overview large-block"><a class="btn-play trans" data-fancybox="" href="https://www.youtube.com/embed/yzl9cdZq20E&amp;autoplay=0&amp;rel=0&amp;controls=0&amp;showinfo=0"><img alt="" src="./img/btn-play.png"/></a></div>
        </div>
      </section>
      <section class="section-location" id="location">
        <div class="maps">
          <div id="maps"></div>
        </div>
        <div class="wrapper section-content">
          <div class="desc-content small-block">
            <h2 class="title-img"><img alt="" src="./img/title_prj_location.png"/>
            </h2>
            <div class="desc">
              <p>đây là text của overview anh coppy text bỏ dô đây dùm e vì e méo coppy dc text ở chổ này, hờn cả thế giới, cái list bên dưới e cũng để text tào lao a coppy dùm e nhé, đội ơn a !!!!</p>
              <ul class="list-intro">
                <li class="item">Sàn gỗ phòng ngủ và cửa chuẩn Châu Âu</li>
                <li class="item">Cuộc sống tiện nghi với hệ thống Smart Home - G-Smart tặng kèm</li>
                <li class="item">Tặng bộ nội thất bếp cao cấp từ Malloca</li>
                <li class="item">Tặng bộ thiết bị vệ sinh cao cấp thương hiệu Toto</li>
                <li class="item">Hệ thống điện an toàn từ thương hiệu Panasonic</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="section-special" id="special">
        <div class="wrapper content-special section-content">
          <div class="desc-content small-block">
            <h2 class="title-img"><img alt="" src="./img/title_special_point.png"/>
            </h2>
            <div class="desc">
              <p>đây là text của overview anh coppy text bỏ dô đây dùm e vì e méo coppy dc text ở chổ này, hờn cả thế giới, cái list bên dưới e cũng để text tào lao a coppy dùm e nhé, đội ơn a !!!!</p>
              <ul class="list-intro">
                <li class="item">Sàn gỗ phòng ngủ và cửa chuẩn Châu Âu</li>
                <li class="item">Cuộc sống tiện nghi với hệ thống Smart Home - G-Smart tặng kèm</li>
                <li class="item">Tặng bộ nội thất bếp cao cấp từ Malloca</li>
                <li class="item">Tặng bộ thiết bị vệ sinh cao cấp thương hiệu Toto</li>
                <li class="item">Hệ thống điện an toàn từ thương hiệu Panasonic</li>
              </ul>
            </div>
          </div>
          <div class="list-galley main">
            <div class="slider slider-for">
              <div class="slider-item"><img alt="" src="./img/sec-diem-noi-bat-image-large.png"/>
              </div>
              <div class="slider-item"><img alt="" src="./img/sec-diem-noi-bat-image-thumb3.png"/>
              </div>
              <div class="slider-item"><img alt="" src="./img/sec-diem-noi-bat-image-thumb3.png"/>
              </div>
            </div>
            <div class="slider slider-nav">
              <div class="slider-item"><img alt="" src="./img/sec-diem-noi-bat-image-thumb1.png"/>
              </div>
              <div class="slider-item"><img alt="" src="./img/sec-diem-noi-bat-image-thumb2.png"/>
              </div>
              <div class="slider-item"><img alt="" src="./img/sec-diem-noi-bat-image-thumb3.png"/>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-model" id="model">
        <h2 class="title-img"><img alt="" src="./img/title_flat_model.png"/>
        </h2>
        <div class="slider-model">
          <div class="slider-main">
            <div class="slider-item">
              <!-- +img('', path+'img/slider_model01.png')-->
            </div>
            <div class="slider-item">
              <!-- +img('', path+'img/slider_model01.png')-->
            </div>
            <div class="slider-item">
              <!-- +img('', path+'img/slider_model01.png')-->
            </div>
          </div>
        </div>
        <div class="wrapper desc-model">
          <ul class="list-intro">
            <li class="item">Sàn gỗ phòng ngủ và cửa chuẩn Châu Âu</li>
            <li class="item">Cuộc sống tiện nghi với hệ thống Smart Home - G-Smart tặng kèm</li>
            <li class="item">Tặng bộ nội thất bếp cao cấp từ Malloca</li>
            <li class="item">Tặng bộ thiết bị vệ sinh cao cấp thương hiệu Toto</li>
            <li class="item">Hệ thống điện an toàn từ thương hiệu Panasonic</li>
          </ul>
        </div>
      </section>
      <footer class="footer" id="contact">
        <div class="footer-inner">
          <div class="wrapper content-footer">
            <h2 class="title title-common">ĐĂNG KÝ THÔNG TIN ĐỂ NHẬN</h2>
            <div class="sub-title title-common">BẢNG BÁO GIÁ TỐT NHẤT</div>
            <div class="main-content">
              <div class="registration">
                <form><span class="wpcf7-form-control-wrap company_name input-group">
                    <input class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" type="text" name="company_name" value="" aria-required="true" aria-invalid="false" placeholder="Họ và tên (*)"></span><span class="wpcf7-form-control-wrap input-group">
                    <input class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" type="email" name="your-email" value="" aria-required="true" aria-invalid="false" placeholder="Email (*)"></span><span class="wpcf7-form-control-wrap input-group">
                    <input class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" type="tel" name="tel-168" value="" aria-required="true" aria-invalid="false" placeholder="Số điện thoại (*)"></span><span class="wpcf7-form-control-wrap company_email input-group">
                    <input class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" type="text" name="company_note" value="" aria-required="true" aria-invalid="false" placeholder="Ghi chú thêm (*)"></span>
                  <div class="btn-submit">
                    <input class="wpcf7-form-control wpcf7-submit wpcf7c-elm-step2 wpcf7c-force-hide" type="submit" value="tôi muốn nhận báo giá">
                  </div>
                </form>
              </div>
              <div class="intro">
                <ul class="list-intro">
                  <li class="item">Sàn gỗ phòng ngủ và cửa chuẩn Châu Âu</li>
                  <li class="item">Cuộc sống tiện nghi với hệ thống Smart Home - G-Smart tặng kèm</li>
                  <li class="item">Tặng bộ nội thất bếp cao cấp từ Malloca</li>
                  <li class="item">Tặng bộ thiết bị vệ sinh cao cấp thương hiệu Toto</li>
                  <li class="item">Hệ thống điện an toàn từ thương hiệu Panasonic</li>
                </ul>
              </div>
            </div>
            <div class="btn-to-top trans"><img alt="" src="./img/to-top.png"/>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="./js/libs.js"></script>
    <script src="./js/modernizr.js"></script>
    <script src="./js/wow.min.js"></script>
    <script src="./js/jquery-ui.js"></script>
    <script src="./js/slick.min.js"></script>
    <script src="./js/jquery.fancybox.min.js"></script>
    <script src="./js/scripts.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs2EX1x62kdImcpNvfAa3Mqgw4uImnZyY&amp;callback=myMap"></script>
  </body>
</html>

dev/pug/index.pug
extends _layouts/default

block vars
  -title        = 'TOP PAGE'
  -description  = 'TOP'
  -keywords     = 'TOP'
  -bodyClass    = 'page-top'
  -path         = './'

block container
  section.section-top-banner
    .key-visua
      .slider-item
      .slider-item
      .slider-item
    .wrapper
      .registration-banner
        .title
          h2.title-common ĐĂNG KÝ THÔNG TIN ĐỂ NHẬN
          .sub-title BẢNG BÁO GIÁ TỐT NHẤT
        .registration
          form
            span.wpcf7-form-control-wrap.company_name.input-group
              input(type="text" name="company_name" value="" aria-required="true" aria-invalid="false" placeholder="Họ và tên (*)").wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required
            span.wpcf7-form-control-wrap.input-group
              input(type="email" name="your-email" value="" aria-required="true" aria-invalid="false" placeholder="Email (*)").wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email
            span.wpcf7-form-control-wrap.input-group
              input(type="tel" name="tel-168" value="" aria-required="true" aria-invalid="false" placeholder="Số điện thoại (*)").wpcf7-form-control.wpcf7-text.wpcf7-tel.wpcf7-validates-as-required.wpcf7-validates-as-tel
            span.wpcf7-form-control-wrap.company_email.input-group
              input(type="text" name="company_note" value="" aria-required="true" aria-invalid="false" placeholder="Ghi chú thêm (*)").wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required
            .btn-submit
              input(type="submit" value="tôi muốn nhận báo giá").wpcf7-form-control.wpcf7-submit.wpcf7c-elm-step2.wpcf7c-force-hide
          .note
            | (*) Chính sách bảo mật thông tin

          .line
            +img('', path+'img/line02.png')
        .intro
          ul.list-intro
            li.item Sàn gỗ phòng ngủ và cửa chuẩn Châu Âu
            li.item Cuộc sống tiện nghi với hệ thống Smart Home - G-Smart tặng kèm
            li.item Tặng bộ nội thất bếp cao cấp từ Malloca
            li.item Tặng bộ thiết bị vệ sinh cao cấp thương hiệu Toto
            li.item Hệ thống điện an toàn từ thương hiệu Panasonic

  section#overview.section-overview
    .wrapper.section-content
      .desc-content.small-block
        h2.title-img
          +img('', path+'img/title_prj_overview.png')
        .desc
          p
            | đây là text của overview anh coppy text bỏ dô đây dùm e vì e méo coppy dc text ở chổ này, hờn cả thế giới, cái list bên dưới e cũng để text tào lao a coppy dùm e nhé, đội ơn a !!!!
          ul.list-intro
            li.item Sàn gỗ phòng ngủ và cửa chuẩn Châu Âu
            li.item Cuộc sống tiện nghi với hệ thống Smart Home - G-Smart tặng kèm
            li.item Tặng bộ nội thất bếp cao cấp từ Malloca
            li.item Tặng bộ thiết bị vệ sinh cao cấp thương hiệu Toto
            li.item Hệ thống điện an toàn từ thương hiệu Panasonic
      .video-overview.large-block
        a.btn-play.trans(data-fancybox='', href='https://www.youtube.com/embed/yzl9cdZq20E&autoplay=0&rel=0&controls=0&showinfo=0')
          +img('', path+'img/btn-play.png')

  section#location.section-location
    .maps
      #maps
    .wrapper.section-content
      .desc-content.small-block
        h2.title-img
          +img('', path+'img/title_prj_location.png')
        .desc
          p
            | đây là text của overview anh coppy text bỏ dô đây dùm e vì e méo coppy dc text ở chổ này, hờn cả thế giới, cái list bên dưới e cũng để text tào lao a coppy dùm e nhé, đội ơn a !!!!
          ul.list-intro
            li.item Sàn gỗ phòng ngủ và cửa chuẩn Châu Âu
            li.item Cuộc sống tiện nghi với hệ thống Smart Home - G-Smart tặng kèm
            li.item Tặng bộ nội thất bếp cao cấp từ Malloca
            li.item Tặng bộ thiết bị vệ sinh cao cấp thương hiệu Toto
            li.item Hệ thống điện an toàn từ thương hiệu Panasonic

  section#special.section-special
    .wrapper.content-special.section-content
      .desc-content.small-block
        h2.title-img
          +img('', path+'img/title_special_point.png')
        .desc
          p
            | đây là text của overview anh coppy text bỏ dô đây dùm e vì e méo coppy dc text ở chổ này, hờn cả thế giới, cái list bên dưới e cũng để text tào lao a coppy dùm e nhé, đội ơn a !!!!
          ul.list-intro
            li.item Sàn gỗ phòng ngủ và cửa chuẩn Châu Âu
            li.item Cuộc sống tiện nghi với hệ thống Smart Home - G-Smart tặng kèm
            li.item Tặng bộ nội thất bếp cao cấp từ Malloca
            li.item Tặng bộ thiết bị vệ sinh cao cấp thương hiệu Toto
            li.item Hệ thống điện an toàn từ thương hiệu Panasonic

      .list-galley.main
        .slider.slider-for
          .slider-item
            +img('', path+'img/sec-diem-noi-bat-image-large.png')
          .slider-item
            +img('', path+'img/sec-diem-noi-bat-image-thumb3.png')
          .slider-item
            +img('', path+'img/sec-diem-noi-bat-image-thumb3.png')

        .slider.slider-nav
          .slider-item
            +img('', path+'img/sec-diem-noi-bat-image-thumb1.png')
          .slider-item
            +img('', path+'img/sec-diem-noi-bat-image-thumb2.png')
          .slider-item
            +img('', path+'img/sec-diem-noi-bat-image-thumb3.png')

  section#model.section-model
    h2.title-img
      +img('', path+'img/title_flat_model.png')
    .slider-model
      .slider-main
        .slider-item
          // +img('', path+'img/slider_model01.png')
        .slider-item
          // +img('', path+'img/slider_model01.png')
        .slider-item
          // +img('', path+'img/slider_model01.png')
    .wrapper.desc-model
      ul.list-intro
        li.item Sàn gỗ phòng ngủ và cửa chuẩn Châu Âu
        li.item Cuộc sống tiện nghi với hệ thống Smart Home - G-Smart tặng kèm
        li.item Tặng bộ nội thất bếp cao cấp từ Malloca
        li.item Tặng bộ thiết bị vệ sinh cao cấp thương hiệu Toto
        li.item Hệ thống điện an toàn từ thương hiệu Panasonic
